<!DOCTYPE html>
<html>
<head>
  <title>User Panel</title>
</head>
<body>

  <%- include('../partials/user-header') %>

  <main>
    <%- body %>
  </main>


  <%- include('../partials/user-footer') %>
 
</body>
</html>
